@font-face {
    font-family: digital-7mono;
    src: url('./assets/digital-7__mono_.ttf');
}

html, body {
    align-content: center;
    justify-content: center;
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#calculator {
    display: flex;
    flex-direction: column;
    padding: 15px;

    height: 450px;
    width: 300px;
    border-radius: 20px;

    justify-content: space-evenly;

    background-color: lightseagreen;
}

#calculator #screen {
    display: flex;
    flex-direction: column;

    padding: 15px;
    border-radius: 15px;

    background-color: gray;

    text-align: right;
    font-family: digital-7mono;
    font-size: 25px;
}

#calculator #screen #last {
    height: 25px;
    background-color: lightgray;
    padding: 5px;

    overflow:overlay;
}

#calculator #screen #current {
    height: 40px;
    padding: 5px;
    padding-top: 5%;

    background-color: gainsboro;

    overflow:overlay;
}

#calculator #numpad {
    display: inline-grid;
    padding: 15px;
    justify-content: center;

    grid-template-columns: auto auto auto auto;
}

.number, .operator, #dot, #equal {
    height: 50px;
    width: 60px;

    margin: 5px;
}

#clsBtn, #dltBtn{
    grid-column: span 2;

    margin: 5px;
    width: 130px;
    height: 50px;
}